//zmienne
$accent-color: #23b89f; /*green*/
$buttonHover-color: #1a9178; /*hover green*/
$grey-color-1: #575757; /*section title font, slider paragraph font*/
$grey-color-2: #8f8f8f; /*box description paragraph font, column list(even) font, form font, footer font*/
$grey-color-3: #f0f0f0; /*section background, column list(even) background,*/
$grey-color-4: #f7f7f7; /*column background*/
$grey-color-5: #919191; /*column circle font, column list(odd) font, small circle color, border color*/
$grey-color-6: #e3e3e3; /*column list(odd) background*/
$input-border-color: #8de0d2; /*form border color*/

@mixin button {
    background-color: $accent-color;
    text-transform: uppercase;
    margin: 0 auto;
    text-align: center;
    letter-spacing: 1px;
    border-radius: 8px;
    color: #FFFFFF;
    cursor: pointer;
    &:hover {
        background-color: $buttonHover-color;
    }
    a:link, a:visited {
        color: #FFFFFF;
        text-decoration: none;
    }
}
@mixin section-heading {
    position: relative;
    text-transform: uppercase;
    color: $grey-color-1;
    font-size: 16px;
    margin-top: 40px;
}
@mixin underline {
    height: 6px;
    position: absolute;
    background-color: $accent-color;
    margin-left: 15px;
}
